{% load static from staticfiles %}
{% load cmz_translations %}

<footer class="foot">
  <div class="container">
    <div class="row">
      <h1 class="text-xs-center"><a href="#"><i class="ion-social-github-outline"></i></a> <a href="#"><i class="ion-social-twitter-outline"></i></a> <a href="#"><i class="ion-social-facebook-outline"></i></a></h1>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-4">
        <h6 class="text-uppercase">Inmagik Site</h6>
        <ul class="list-unstyled foot-link">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'technology' %}">{% cmz_translation "tech" "footer" %}</a></li>
          <li><a href="{% url 'projects' %}">{% cmz_translation "projects" "footer" %}</a></li>
          <li><a href="{% url 'blog' %}">Blog</a></li>
          <li><a href="{% url 'contact' %}">{% cmz_translation "contact" "footer" %}</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h6 class="text-uppercase">Terms</h6>
        <ul class="list-unstyled foot-link">
          <li><a href="{% url 'terms-and-condition' %}">{% cmz_translation "terms" "footer" %}</a></li>
          <li><a href="">Copyright notice</a></li>
          <li><a href="">Cookie policy</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h6 class="text-uppercase">Connect</h6>
        <ul class="list-unstyled foot-link">
          <li><a href="">Github</a></li>
          <li><a href="">Twitter</a></li>
          <li><a href="">Facebook</a></li>
        </ul>
      </div>
  </div>
</footer>
