{% extends "base.html" %}
{% load static from staticfiles %}
{% load cmz_translations cmz_blog %}

{% block page_content %}

<section id="two" class="bg-alt">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-xs-center">
        <h2 class="m-t-0 text-primary">INMAGIK Official Blog</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <hr>
  <hr>
  {% blogpost_list 3 as posts %}

  <div class="container wow fadeInUp">
      {% for group in posts %}
        <div class="card-group">
          {% for post in group %}
            <!-- card -->
            <div class="card col-sm-4 p-x-0" style="">

                <img class="img-fluid" {% if post.header_image %}src="{{post.header_image.url}}"{% endif %} alt="{{post.title}}">
                <div class="card-block">
                  <h4 class="card-title">
                    <a href="{% url 'article' post.pk %}">{{post.title}}</a>
                  </h4>
                  <p class="card-text">
                    <small class="pull-xs-left text-muted">by {{post.author}}</small>
                    <small class="pull-xs-right text-muted"><i class="icon ion-calendar"></i> {{post.date}}</small>
                    <small class="clearfix"></small>
                  </p>
                  <p class="card-text">
                    {{post.html_intro|safe}}
                  </p>
                </div>

            </div>
            {% endfor %}
        </div>
      {% endfor %}

    </div>
</section>

{% endblock page_content %}
