{% extends "base.html" %}
{% load static from staticfiles %}
{% load cmz_translations %}

{% block page_content %}

<section class="bg-alt">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-xs-center">
        <h2 class="m-t-0 text-primary">Contatti</h2>
        <hr class="primary">
        <h4 class=>INMAGIK SRL</h4>
        <p class="">
          Sede legale: via Zambonate 22 Bergamo (BG) - Italy <br>
          Sede operativa: via Masone 6 Bergamo (BG) - Italy <br>
        </p>

        <p class="text-xs-center">
          <a href="tel:03519901780" class="btn  btn-lg">
            <i class="icon ion-ios-telephone"></i> 035 19901780
          </a>

          <a href="mailto:info@inmagik.com" class="btn btn-lg">
            <i class="icon ion-ios-email"></i> info@inmagik.com
          </a>

        </p>

        <hr>

        <div class="card">
            <iframe frameBorder="0" class="w-100" id="map" src="https://www.google.com/maps/embed/v1/place?q=place_id:EidWaWEgTWFzb25lLCA2LCAyNDEyMSBCZXJnYW1vIEJHLCBJdGFsaWE&key=AIzaSyAEzc1QCJX9ijndvh1dXEQyuXRp7DvEesw"></iframe>
        </div>

      </div>
    </div>
  </div>
</section>


{% endblock page_content %}
