{% extends "base.html" %}
{% load static from staticfiles %}
{% load cmz_translations %}

{% block page_content %}

<section id="two" class="bg-alt">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="m-t-0 text-primary">Cookie policy</h2>
        <hr class="primary">
        <p>Informativa resa ai sensi dell’art.13 del D. L. vo 30 giugno 2003 n. 196 “Codice in materia di protezione dei dati personali”.</p>
        <p>Il sito INMAGIK SRL fa uso di 2 tipologie di cookie: </p>
        <ul>
          <li>Cookie tecnici: INMAGIK SRL non fa uso di cookie per la trasmissione di informazioni di carattere personale, ovvero sistemi per il tracciamento degli utenti.<br/>
          I cookie tecnici sono indispensabili per il corretto funzionamento del sito. Il contenuto dei cookie è strettamente limitato alla trasmissione di identificativi di sessione (costituiti da stringhe casuali generati dal server) necessari per consentire l'esplorazione sicura ed efficiente del sito.La durata dei cookie è strettamente limitata alla sessione di lavoro.<br/>
          I c.d. cookie di sessione utilizzati in questo sito evitano il ricorso ad altre tecniche informatiche potenzialmente pregiudizievoli per la riservatezza della navigazione degli utenti e non consentono l'acquisizione di dati personali identificativi dell'utente.</li>
          <li>Cookie di terze parti: Visitando il sito web INMAGIK SRL si possono ricevere cookie Google Analytics. Tali cookie hanno finalità esclusivamente di tipo statistico nella navigazione del sito INMAGIK, mediante Google Analytics e sono anonimizzati in modo da non rendere riconoscibile l'utente che effettua la navigazione<br/>
          Per maggiori informazioni sulle modalità di lavoro del cookie Google Analytics si invita a leggere l'informativa di dettaglio: <a href="http://www.google.com/intl/it_ALL/analytics/learn/privacy.html">http://www.google.com/intl/it_ALL/analytics/learn/privacy.html</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock page_content %}
