{% extends "base.html" %}
{% load static from staticfiles %}
{% load cmz_translations %}

{% block page_content %}

<section id="two" class="bg-alt">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="m-t-0 text-primary">Copyright notice</h2>
        <hr class="primary">
        <p>The site's contents - script code, graphics, text, tables, images, sounds and any other information available in any form - are protected under the legislation on intellectual property © INMAGIK Ltd. 2014-2016.<br/>
          Every product or company mentioned in this site are trademarks of their respective owners and may be protected by patents and / or copyrights granted or registered by the authorities.<br/>
          Any redistribution or reproduction in whole or in part the form of the contents in any form is prohibited, with the following conditions:</p>
        <ul>
          <li>printing or downloading on digital devices only for personal and non-commercial use</li>
          <li>forwarding the content to persons or to third parties for their personal use as long as you specify this site and INMAGIK SRL as content authors</li>
          <li>you can not use or distribute the content of the site for commercial purposes without the written consent of INMAGIK SRL</li>
        </ul>
        <hr class="primary">
        <h5>Additional credits</h5>
        <p>All trademarks and logos reproduced in this website, which are not the property of, or licensed to the website operator, are acknowledged on the website.<br/>
        The following material displayed on this website is not copyrighted by INMAGIK srl and all rights belong to respective authors. <br/>
        Please refer to the given links for determining whether explicit attribution must be given when reproducing such materials.</p>
        <ul>
          <li>Icons displayed of this website courtesy of <a href="http://ionicons.com/">ionicons</a> (Designed by <a href="https://twitter.com/benjsperry">@benjsperry</a>. Licensed under <a href="https://opensource.org/licenses/MIT">MIT</a>.)</li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock page_content %}
