{% extends "base.html" %}
{% load static from staticfiles %}
{% load cmz_translations %}

{% block page_content %}

<section id="two" class="bg-alt">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="m-t-0 text-primary">Copyright notice</h2>
        <hr class="primary">
        <p>I contenuti del sito – codice di script, grafica, testi, tabelle, immagini, suoni, e ogni altra informazione disponibile in qualunque forma – sono protetti ai sensi della normativa in tema di opere dell’ingegno © INMAGIK srl 2014-2016.<br/>
        Ogni prodotto o società menzionati in questo sito sono marchi dei rispettivi proprietari o titolari e possono essere protetti da brevetti e/o copyright concessi o registrati dalle autorità preposte.<br/>
        Qualsiasi ridistribuzione o riproduzione in forma integrale o parziale dei contenuti in qualsiasi forma è proibita, con le seguenti condizioni:</p>
        <ul>
          <li>stampa o scaricamento su dispositivi digitali solo per uso personale e non commerciale</li>
          <li>inoltro del contenuto a persone o terze parti per loro uso personale a patto di specificare questo sito e INMAGIK SRL come autori dei contenuti</li>
          <li>non è possibile usare o distribuire i contenuti del sito per scopi commerciali senza il consenso scritto di INMAGIK SRL</li>
        </ul>
        <hr class="primary">
        <h5>Additional credits</h5>
        <p>Tutti i marchi ei loghi prodotti in questo sito, che non sono di proprietà di, o concessi in licenza al gestore del sito, sono riconosciuti sul sito web.<br/>
        Il seguente materiale visualizzato su questo sito non è protetto da copyright da INMAGIK srl e tutti i diritti appartengono ai rispettivi autori.<br/>
        Si prega di fare riferimento ai seguenti link per determinare se l'attribuzione esplicita deve essere data nella riproduzione di tali materiali.</p>
        <ul>
          <li>Le icone che compaiono su questo sito per gentile concessione di <a href="http://ionicons.com/">ionicons</a> (Designed by <a href="https://twitter.com/benjsperry">@benjsperry</a>. Licensed under <a href="https://opensource.org/licenses/MIT">MIT</a>.)</li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock page_content %}
