{% extends "base.html" %}
{% load static from staticfiles %}
{% load cmz_translations %}

{% block page_content %}

<header id="first">
<div class="header-content">
    <div class="inner">
        <h1 class="title">INMAGIK</h1>
        <h5 class="wow fadeIn text-normal wow fadeIn sub">software solutions | web & mobile apps | data viz & management | interactive ux </h5>
        <a href="#one" class="btn btn-primary-outline btn-xl page-scroll wow fadeInUp m-t-3"><i class="icon-md ion-chevron-down"></i></a>
    </div>
</div>
</header>

<section id="one">
       <div class="container wow fadeInUp">
        <h2 class="text-xs-center">{% cmz_translation "about-us-title" "home" "About" %}</h2>
        <p class="lead text-xs-center">
            We develop web applications and services, mobile apps, data management systems and interactive user experiences.
            We are based in Bergamo, Italy.
        <div class="card-group">
            <!-- card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'img/123.jpg' %}" alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-title">Mobile apps</h4>
                  <p class="card-text">We develop native and hybrid mobile apps for iOS and Android, with modern frameworks and technologies.</p>

                  <p class="card-text">
                    Learn more on the
                    <a href="{% url 'apps' %}">app develompent</a> section of the site.
                  </p>
                  <p class="card-text text-xs-center">
                    <a class="btn btn-primary" href="{% url 'apps' %}">Learn more</a>.
                  </p>
                </div>
            </div>
            <!-- card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'img/consulenza.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Open source consultancy</h4>
                    <p class="card-text">We offer consultancy about tools and framework we use for our development.
                        See le complete list of the tools and technologies on our <a href="{% url 'technology' %}">tech</a> page.
                    </p>
                </div>
            </div>
            <!-- card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'img/code.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Websites and applications</h4>
                    <p class="card-text">
                      Website and web applications development is our core business.
                      We develop websites, complete client-server solutions, web based backends, CMS and
                      custom web applications using HTML5, javascript and Python.
                    </p>
                    <p class="card-text">
                      See all the details in our <a href="{% url 'web' %}">web development</a> section.
                    </p>
                    <p class="card-text text-xs-center">
                      <a class="btn btn-primary" href="{% url 'web' %}">Learn more</a>.
                    </p>
                </div>
            </div>
        </div>


        <hr>
        <div class="container">
            <div class="row">
              <div class="col-lg-8 offset-lg-2 text-xs-center">
                <div class="card text-xs-center">

                  <div class="card-block">
                    <h2 class="card-title">Free check-up</h2>
                    <p class="lead card-text">
                      You want to update, restyle or add more features to an existing web site
                      or mobile app?
                    </p>
                    <p class="lead card-text">
                      <a href="{% url 'contact' %}">Contact us</a> for a free check-up
                      and a feasibility study based on your needs.
                    </p>
                    <hr>
                    <div class="cart-text">
                    <p>
                        <a href="{% url 'contact' %}" class="btn btn-primary">Contact us</a>
                    </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </div>




    </div>
</section>
<section id="two" class="bg-alt">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-xs-center">
                <h2 class="m-t-0 text-primary">We <i class="icon-sm ion-ios-heart-outline wow fadeIn text-primary"></i> Open Source</h2>
                <hr class="primary">
                <p class="lead">
                  We work using and promiting the growth of open source languages, tools and frameworks,
                  bringing our clients the latest software technologies.
                </p>
                <p class="lead">
                  For our clients this means <i>no imposed license fees</i> for using our products and <i>no limits</i>
                  to the functionalities we can add to your software.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="three" class="">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-lg-12 text-xs-center">
                <h2 class="m-t-0 text-primary">Multi platform</h2>
                <hr class="primary">
                <p class="lead">
                  INMAGIK builds multi-platform software and integrated solutions
                  for all your needs.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-ios-cloud-outline wow fadeIn" data-wow-delay=".1s"></i>
                    <h6 class="text-uppercase">server</h6>
                    <p class="text-muted m-b-0">
                      We build backends and management web apps based on SQL or NOSql databases, rest APIs,
                      data migration, synchronization and transformation tools.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-ios-browsers-outline wow fadeInUp"></i>
                    <h6 class="text-uppercase">browser</h6>
                    <p class="text-muted m-b-0">
                      We build responsive websites and web based applications with advanced functionalities
                      such as social integrations, infographics and data visualization, geographic data
                      management.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-iphone wow fadeIn" data-wow-delay=".1s"></i>
                    <h6 class="text-uppercase">mobile</h6>
                    <p class="text-muted m-b-0">
                      We build apps for smartphones and tablets, for iOS, Android e Windows Mobile platforms.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock page_content %}
