{% extends "base.html" %}
{% load static from staticfiles %}
{% load cmz_translations %}

{% block page_content %}

<header id="first">
<div class="header-content">
    <div class="inner">
        <h1 class="title">INMAGIK</h1>
        <h5 class="wow fadeIn text-normal wow fadeIn sub">software solutions | web & mobile apps | data viz & management | interactive ux </h5>
        <hr>
        <a href="#one"><i class="icon-header ion-chevron-down"></i></a>
    </div>
</div>
</header>

<section id="one">
       <div class="container wow fadeInUp">
        <h2 class="text-xs-center">{% cmz_translation "about-us-title" "home" "About" %}</h2>
        <p class="lead text-xs-center">
            INMAGIK è una società di sviluppo software con sede a Bergamo. <br>
            Sviluppiamo servizi e applicazioni web based e su piattaforme mobile, sistemi di gestione dati e
            esperienze utente interattive.
        <div class="card-group">
            <!-- card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'img/123.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Sviluppo applicazioni mobile</h4>
                    <p class="card-text">
                      Sviluppiamo applicazioni native e ibride per le piattaforme iOS e Android,
                      utilizzando framework e tecnologie di ultima generazione.
                    </p>
                    <p class="card-text">
                      Tutti i dettagli nella sezione
                      <a href="{% url 'apps' %}">sviluppo app</a>.
                    </p>
                    <p class="card-text text-xs-center">
                      <a class="btn btn-primary" href="{% url 'apps' %}">Dettagli</a>.
                    </p>
                </div>
            </div>
            <!-- card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'img/consulenza.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Consulenza IT</h4>
                    <p class="card-text">
                      Offriamo servizi di consulenza sugli strumenti e i frameworks che
                      utilizziamo nei nostri processi di sviluppo.
                    </p>
                    <p class="card-text">
                      Puoi trovare la lista degli strumenti che utilizziamo nella nostra
                      pagina <a href="{% url 'technology' %}">tecnologia</a>.
                    </p>

                </div>
            </div>
            <!-- card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'img/code.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Siti e applicativi web</h4>
                    <p class="card-text">
                      Lo sviluppo di siti e applicativi web, in tutte le sue declinazioni,
                      è il nostro core business e sviluppiamo le nostre competenze intorno a questa attività.
                    </p>
                    <p class="card-text">
                      Tutti i dettagli nella sezione <a href="{% url 'web' %}">sviluppo web</a>.
                    </p>
                    <p class="card-text text-xs-center">
                      <a class="btn btn-primary" href="{% url 'web' %}">Dettagli</a>.
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
              <div class="col-lg-8 offset-lg-2 text-xs-center">
                <div class="card text-xs-center">

                  <div class="card-block">
                    <h2 class="card-title">Check-up gratuito</h2>
                    <p class="lead card-text">
                      Hai già un sito o una app che vorresti migliorare, aggiornare
                      o arricchire con funzionalità aggiuntive?
                    </p>
                    <p class="lead card-text">
                      <a href="{% url 'contact' %}">Contattaci</a> per un check-up gratuito
                      e un'analisi di fattibilità delle tue nuove esigenze.
                    </p>
                    <hr>
                    <div class="cart-text">
                    <p>
                        <a href="{% url 'contact' %}" class="btn btn-primary">Contattaci</a>
                    </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </div>

    </div>
</section>
<section id="two" class="bg-alt">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-xs-center">
                <h2 class="m-t-0 text-primary">We <i class="icon-sm ion-ios-heart-outline wow fadeIn text-primary"></i> Open Source</h2>
                <hr class="primary">
                <p class="lead">
                  Lavoriamo utilizzando e promuovendo la crescita di strumenti e frameworks
                  opensource, rendendo disponibili ai nostri clienti le ultime tecnologie software disponibili.
                </p>
                <p class="lead">
                  Per i nostri clienti questo significa <i>nessun costo di licenza imposto</i> per l'utilizzo
                  dei nostri prodotti e <i>nessun limite</i> alla realizzazione di funzionalità avanzate all'interno
                  del nostro software.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="three" class="">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-lg-12 text-xs-center">
                <h2 class="m-t-0 text-primary">Sviluppo multipiattaforma</h2>
                <hr class="primary">
                <p class="lead">
                  INMAGIK sviluppa software multi piattaforma e soluzioni integrate
                  per tutte le tue necessità
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-ios-cloud-outline wow fadeIn" data-wow-delay=".1s"></i>
                    <h6 class="text-uppercase">server</h6>
                    <p class="text-muted m-b-0">
                      Realizziamo backend e applicativi gestionali basati su database
                      SQL o NOSql, API rest, script di migrazione, sincronizzazione e trasformazione dati.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-ios-browsers-outline wow fadeInUp"></i>
                    <h6 class="text-uppercase">browser</h6>
                    <p class="text-muted m-b-0">
                      Sviluppiamo siti web e applicativi responsive e applicativi gestionali web-based
                      con funzionalità avanzate di integrazione social, visualizzazione dati e infografiche,
                      gestione di dati geografici.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-iphone wow fadeIn" data-wow-delay=".1s"></i>
                    <h6 class="text-uppercase">mobile</h6>
                    <p class="text-muted m-b-0">
                      Realizziamo applicazioni per smartphone e tablet, su piattaforme iOS, Android e Windows Mobile.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock page_content %}
