{% extends "base.html" %}
{% load static from staticfiles %}
{% load cmz_translations %}

{% block page_content %}

<header id="first">
<div class="header-content">
    <div class="inner">
        <h1 class="title">INMAGIK</h1>
        <h5 class="wow fadeIn text-normal wow fadeIn sub">software solutions | web & mobile apps | data viz & management | interactive ux </h5>
        <a href="#one" class="btn btn-primary-outline btn-xl page-scroll wow fadeInUp m-t-3"><i class="icon-md ion-chevron-down"></i></a>
    </div>
</div>
</header>

<section id="one">
       <div class="container wow fadeInUp">
        <h2 class="text-xs-center">{% cmz_translation "about-us-title" "home" "About" %}</h2>
        <p class="lead text-xs-center">
                       We develop web applications and services, mobile apps, data management systems and interactive user experience.<br/>
                       We make available the latest technologies without licensing fees.<br/>
                       We work constantly to promote the use and the growth of open source tools.<br/>
                       Here there are our main services:
        </p>
        <div class="card-group">
            <!-- card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'img/123.jpeg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Mobile Apps Development</h4>
                    <p class="card-text">We make hybrid and native applications for iOS and Android platforms.<br/> We love to use the latest technologies and frameworks, like <a href="http://ionicframework.com/">ionic</a> or <a href="http://www.reactnative.com/">REACT NATIVE</a>.</p>
                </div>
            </div>
            <!-- card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'img/consulenza.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Consulting about open source products</h4>
                    <p class="card-text">We offer consulting services about tools and the frameworks that we use in our development processes. You can find the list of the tools that we use in our <a href="{% url 'technology' %}">technology</a> page.</p>
                </div>
            </div>
            <!-- card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'img/code.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Web sites and web apps</h4>
                    <p class="card-text">The development of sites and web applications, in all its forms, is our core business and develop our skills around this activity.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="two" class="bg-alt">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-xs-center">
                <h2 class="m-t-0 text-primary">We <i class="icon-sm ion-ios-heart-outline wow fadeIn text-primary"></i> Open Source</h2>
                <hr class="primary">
                <p class="lead">
                  For years we have chosen to believe and support the technologies and the open source community who are always changing.<br/>
                  We have invested time and resources to master the most of the technologies we believe in and we are constantly looking for tools that allow us to improve our work.<br/>
                  We code for :
                </p>
            </div>
        </div>
    </div>
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-ios-cloud-outline wow fadeIn" data-wow-delay=".1s"></i>
                    <h6 class="text-uppercase">server</h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-ios-browsers-outline wow fadeInUp"></i>
                    <h6 class="text-uppercase">browser</h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-iphone wow fadeIn" data-wow-delay=".1s"></i>
                    <h6 class="text-uppercase">mobile</h6>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock page_content %}
