{% extends "base.html" %}
{% load static from staticfiles %}
{% load cmz_translations %}

{% block page_content %}

<section id="two" class="bg-alt">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-xs-center">
        <h2 class="m-t-0 text-primary">Progetti</h2>
        <hr class="primary">
        <p class="lead">
          Le nostre soluzioni software sono basate su componenti, linguaggi e frameworks Open Source, maturi e di successo, che selezioniamo e su cui lavoriamo costantemente.
        </p>
      </div>
    </div>
  </div>
  <hr>
  <hr>

  <div class="container wow fadeInUp">
    <div class="card-group">
        <!-- card -->
        <div class="card">
            <img class="img-fluid img-proj m-x-auto" src="{% static 'img/accurat1.png' %}" alt="Card image cap">
            <div class="card-img-overlay">
              <h4 class="text-xs-right"><span class="tag tag-danger">Mobile</span></h4>
            </div>
            <div class="card-block">
              <h4 class="card-title">Sistema di valutazione per una scuola</h4>
              <p class="card-text"><small><span class="tag tag-danger">Mobile</span> <span class="tag tag-primary">django</span> <span class="tag tag-primary">AngularJS</span></small></p>
              <p class="card-text">Offriamo servizi di consulenza sugli strumenti e i frameworks che utilizziamo nei nostri processi di sviluppo. Puoi trovare la lista degli strumenti che utilizziamo nella nostra pagina <a href="tech.html">tecnologia</a>.</p>
            </div>
        </div>
        <!-- card -->
        <div class="card">
            <img class="img-fluid img-proj m-x-auto" src="{% static 'img/584.png' %}" alt="Card image cap">
            <div class="card-img-overlay">
              <h4 class="text-xs-right"><span class="tag tag-danger">Browser</span></h4>
            </div>
            <div class="card-block">
                <h4 class="card-title">Grafici Interattivi</h4>
                <p class="card-text"><small><span class="tag tag-primary">Javascript</span> <span class="tag tag-primary">AngularJS</span></small></p>
                <p class="card-text">Offriamo servizi di consulenza sugli strumenti e i frameworks che utilizziamo nei nostri processi di sviluppo. Puoi trovare la lista degli strumenti che utilizziamo nella nostra pagina <a href="tech.html">tecnologia</a>.</p>
            </div>
        </div>
        <!-- card -->
        <div class="card">
            <img class="img-fluid img-proj m-x-auto" src="{% static 'img/amat1.png' %}" alt="Card image cap">
            <div class="card-img-overlay">
              <h4 class="text-xs-right"><span class="tag tag-danger">Browser</span><br/><span class="tag tag-danger">Mobile</span><br/><span class="tag tag-danger">Server</span></h4>
            </div>
            <div class="card-block">
              <h4 class="card-title">Title <span class="tag tag-danger">Mobile</span></h4>
              <p class="card-text"><small><span class="tag tag-primary">django</span> <span class="tag tag-primary">AngularJS</span></small></p>
              <p class="card-text">Offriamo servizi di consulenza sugli strumenti e i frameworks che utilizziamo nei nostri processi di sviluppo. Puoi trovare la lista degli strumenti che utilizziamo nella nostra pagina <a href="tech.html">tecnologia</a>.</p>
            </div>
        </div>
    </div>

    </div>
</section>

{% endblock page_content %}
