
//Navbar components
@media (max-width: 768px){
  .navbar-default .nav > li > a, .navbar-default .nav > li > a:focus {
    font-size:18px;
  }

 .navbar-toggleable-sm {
   text-align: center;
     ul {
      padding-top: 60px;
      padding-bottom:40px;
    }
  }
}

.mobile-menu{
  position: fixed;
  top:54px;
  bottom:0px;
  left:0px;
  right:0px;
  background-color: $white;
  padding-top:50px;
  overflow-y: scroll;
  .dropdown-menu {
        position: inherit;
        float: none;
        text-align: center;
  }
}

.dropdown-menu {
  min-width: auto;

}
//fix bootstap
@media (width: 768px){
  .mobile-menu.collapse {
      display: none !important;
  }
  .mobile-menu.collapse.in {
      display: block !important;
  }
  .show-at-768{
    display: inline-block !important;
  }
}

//this class is applied to body when document is scrolled for more than 50px.  (needs javascript)
//we use it for adding a nice box-shadow to the bottom border of our navbar.
.scrolled {
  .navbar-shadowed{
    box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.25);
  }
}

.navbar-light {
      letter-spacing: 1.1px;
      font-size: 12px;
      text-transform: uppercase;
      font-family: 'Montserrat','Helvetica Neue',Arial,sans-serif;
      background-color: $white;

      ul {
        text-align: center;
        li {
          color: black;
          ::selection {
             text-shadow: none;
             color: $brand-primary;
             background: $white;
            }
        }
      }
}

.img-navbar-logo{
  height:36px;
  width:36px;
  display: inline-block;
}

//header components
.icon-header {
  font-size: 30
  px;
}

//Card's images components
.img-tech {
  max-height: 100px;
  height: 100px;
  margin-top: 24px;
}

.img-projects {
  max-height: 200px;
}

.img-app {
  height: 250px;
  width: 100%;
}

.img-web {
  width: 100%;
}

//Blog components
 .img-blog-detail {
   position: relative;
 }

 .img-card {
   height:200px;
   background-color:blue;
   background-size: cover;
 }

 .thumbnail {
    position: relative;
    height: 400px;
    background-size: cover;
    background-color: #222;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    color: $white;
    text-shadow: 2px 2px 4px #000000;
}

.author {
  padding: 0.5rem;
}

.date {
  font-size: 14px;
  color: $brand-secondary;
  font-style: italic;
}

 //Footer components
.foot {
  color: $white;
  background-color: $brand-primary;
  a {
    color: $white;
    font-weight: normal;
    &:hover {
      color: $brand-secondary;
    }
  }
  h6 {
    color: $white;
  }
}

.foot-link {
  font-size: 14px;
}

.img-footer-logo{
  height: 18px;
  width: 18px;
}

.footer-info {
  padding:20px;
}

.btn-footer{
  margin-top: 10px;
  color: $white;
  background-color:  $brand-primary;
  border: 0.25px solid $white;
  &:hover {
    background-color: $brand-secondary;
    border: 0.25px solid $white;
  }
}

//Fonts components
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
.sub {
  font-family: $font-family-orbitron;
  color: $brand-secondary;
  font-size: 18px;
}

.title {
  font-weight: normal;
  padding-bottom: 10px;
  font-family: $title-font-family;
}

//map
#map {
  height: 300px;
}
