
//Navbar components
@media (max-width: 768px){
 .navbar-toggleable-sm {
    ul {
      padding-top: 60px;
    }
  }
}

.navbar-light {
      letter-spacing: 1.1px;
      font-size: 12px;
      text-transform: uppercase;
      font-family: 'Montserrat','Helvetica Neue',Arial,sans-serif;
      background-color: $white;

      ul {
        text-align: center;
        li {
          color: black;
          ::selection {
             text-shadow: none;
             color: $brand-primary;
             background: $white;
            }
        }
      }
}

.img-navbar-logo{
  height:36px;
  width:36px;
}

//Card's images components
.img-tech {
  max-height: 100px;
  margin-top: 24px;
}

.img-proj {
  max-height: 210px;
}

//Blog components
 .img-blog-detail {
   position: relative;
 }

 .thumbnail {
    position: relative;
    height: 400px;
    background-size: cover;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    color: $white;
    text-shadow: 2px 2px 4px #000000;
}

.author {
  padding: 0.5rem;
  background-color: $brand-secondary;
}

.date {
  font-size: 14px;
  color: $brand-secondary;
  font-style: italic;
}

 //Footer components
.foot {
  color: $white;
  background-color: $brand-primary;
  a {
    color: $white;
    font-weight: normal;
  }
  h6 {
    color: $white;
  }
}

.foot-link {
  font-size: 14px;
}

//Fonts components
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
.sub {
  font-family: $font-family-orbitron;
  color: $brand-secondary;
}

.title {
  font-weight: normal;
  padding-bottom: 10px;
}

//map
#map {
  height: 300px;
  border: 1px solid $brand-secondary;
}
